/.DS_Store
/ambito
/bucles
/condicionales
/condiciones_complejas
/declaracion_funciones
/document
/eventos
/expresiones_funcionales
/funciones_nativas
/hoisting
/matrices
/objetos
/operadores
/return
/this
/trabajar_matrices